<h1>Listando disciplinas cadastradas</h1>
<p>A tabela abaixo apresenta as disciplinas cadastradas no banco de dados do sistema de contagem de créditos.</p>
<%= link_to 'Cadastrar disciplina', new_disciplina_path %> </br>
<table>
  <tr>
    <th>Código</th>
    <th>Nome</th>
    <th>Matriz</th>
    <th>Categoria</th>
    <th></th>
    <th></th>
  </tr>

<% @disciplinas.each do |disciplina| %>
  
<% unless disciplina.tipodisciplina_bct == 1 %>
  <tr>
    <td><%= check_box_tag "nome"%></td>
    <td><%= disciplina.codigo_disciplina %></td>
    <td><%= link_to disciplina.nome_disciplina, disciplina %></td>
    <td><%= disciplina.codigo_covalidacao %></td>
    <td><%= link_to disciplina.nome_covalidacao, disciplina %></td>    
    
    <td><%= disciplina.matriz %></td>
    <td><%= disciplina.tipodisciplina_lmat %></td>
   <!-- <td><%= link_to 'Show', disciplina %></td> -->
    <td><%= link_to 'Editar', edit_disciplina_path(disciplina) %></td>
    <td><%= link_to 'Deletar', disciplina, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
  <%end %>
<% end %>
</table>

<br />


