<%#
# To change this license header, choose License Headers in Project Properties.
# To change this template file, choose Tools | Templates
# and open the template in the editor.
%>

<%  if @usuario.tipo == 'Secretaria (CMCC)'%>
 
Aviso para Secretaria CMCC
 

 <p>Existe um novo usuario tipo secretaria solicitando aprovação no sistema, você pode permitir sua aprovação no sistema pelo link abaixo.</p>
 
 <p> Dados do Usuário: </p>

  <table border="2">
  <tr>
    <th>Nome</th>
    <th>email</th>
    <th>Centro</th>
  </tr>


  <tr>
    <td><%= @usuario.nome %></td>
    <td><%= @usuario.email %></td>
    <td><%= @usuario.tipo %></td>
  </tr>

</table>
 
     
 <p> <%=@link%></p>

 
 
<p><i> Mensagem enviada em, <%=@hoje%></i></p>



<%else%>

Aviso para Secretaria CCNH
 

 <p>Existe um novo usuario tipo secretaria solicitando aprovação no sistema, você pode permitir sua aprovação no sistema pelo link abaixo.</p>
 
 <p> Dados do Usuário: </p>

  <table border="2">
  <tr>
    <th>Nome</th>
    <th>email</th>
    <th>Centro</th>
  </tr>


  <tr>
    <td><%= @usuario.nome %></td>
    <td><%= @usuario.email %></td>
    <td><%= @usuario.tipo %></td>
  </tr>

</table>
 
     
 <p> <%=@link%></p>

 
 
<p><i> Mensagem enviada em, <%=@hoje%></i></p>
<%end%>