<%= form_for(@matricula) do |f| %>
  <% if @matricula.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@matricula.errors.count, "error") %> prohibited this matricula from being saved:</h2>

      <ul>
      <% @matricula.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :disciplina_id %><br />
    <%= f.number_field :disciplina_id %>
  </div>
  <div class="field">
    <%= f.label :aluno_id %><br />
    <%= f.number_field :aluno_id %>
  </div>
  <div class="field">
    <%= f.label :periodo_id %><br />
    <%= f.number_field :periodo_id %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
