

<br><br><h3>As tabelas abaixo apresentam os aluno com conceitos atribuídos, porém, que ainda não foram enviados para o DSSI</h3>

<% if current_usuario.centro == "CMCC" %>
    <p><b>Licenciatura em matemática</b></p>

    <table>
  <tr>
    <th>Nome</th>
    <th>RA</th>
    <th>Disciplina</th>
    <th>Código</th>
    <th>Parecer do estágio</th>
  </tr>

<% @lic_matematica.each do |matricula| %>
  <tr>
    <td><%= retorna_nome_aluno(matricula.aluno_id) %></td>
    <td><%= retorna_ra(matricula.aluno_id) %></td>
    <td><%= retorna_nome_disciplina(matricula.disciplina_id) %></td>
    <td><%= retorna_codigo(matricula.disciplina_id) %></td>
    <td><%= matricula.conceito %></td>
    <td><%= matricula.horas %></td>
  </tr>
<% end %>
</table>    
<% unless @lic_matematica.blank? %>    
    <p><%= link_to "Enviar tabela para o DSSI", :controller => 'conceitos', :action => 'modelo_email', :curso => 'mat', :periodo => @periodo.id%></p>
<% else %>
    <p><%= link_to "Visualizar relatório de conceitos", :controller => 'conceitos', :action => 'relatorio', :curso => 'mat', :periodo => @periodo.id %></p>
<% end %>

<% else %>    

    <p><b>Licenciatura em ciências biológicas</b></p>

    <table>
  <tr>
    <th>Nome</th>
    <th>RA</th>
    <th>Disciplina</th>
    <th>Código</th>
    <th>Parecer do estágio</th>
  </tr>

<% @lic_ciencia_bio.each do |matricula| %>
  <tr>
    <td><%= retorna_nome_aluno(matricula.aluno_id) %></td>
    <td><%= retorna_ra(matricula.aluno_id) %></td>
    <td><%= retorna_nome_disciplina(matricula.disciplina_id) %></td>
    <td><%= retorna_codigo(matricula.disciplina_id) %></td>
    <td><%= matricula.conceito %></td>
  </tr>
<% end %>
</table>
<% unless @lic_ciencia_bio.blank? %>    
    <p><%= link_to "Enviar tabela para o DSSI", :controller => 'conceitos', :action => 'modelo_email', :curso => 'bio', :periodo => @periodo.id%></p>
<% else %>
    <p><%= link_to "Visualizar relatório de conceitos", :controller => 'conceitos', :action => 'relatorio', :curso => 'bio', :periodo => @periodo.id %></p>
<% end %>
    <br>
    

    <p><b>Licenciatura em filosofia</b></p>

    <table>
  <tr>
    <th>Nome</th>
    <th>RA</th>
    <th>Disciplina</th>
    <th>Código</th>
    <th>Parecer do estágio</th>
  </tr>

<% @lic_filosofia.each do |matricula| %>
  <tr>
    <td><%= retorna_nome_aluno(matricula.aluno_id) %></td>
    <td><%= retorna_ra(matricula.aluno_id) %></td>
    <td><%= retorna_nome_disciplina(matricula.disciplina_id) %></td>
    <td><%= retorna_codigo(matricula.disciplina_id) %></td>
    <td><%= matricula.conceito %></td>
  </tr>
<% end %>
</table>
 <% unless @lic_filosofia.blank? %> 
    <p><%= link_to "Enviar tabela para o DSSI", :controller => 'conceitos', :action => 'modelo_email', :curso => 'fil', :periodo => @periodo.id%></p>
<% else %>
    <p><%= link_to "Visualizar relatório de conceitos", :controller => 'conceitos', :action => 'relatorio', :curso => 'fil', :periodo => @periodo.id %></p>
<% end %> 
    <br>
    

    <p><b>Licenciatura em física</b></p>

    <table>
  <tr>
    <th>Nome</th>
    <th>RA</th>
    <th>Disciplina</th>
    <th>Código</th>
    <th>Parecer do estágio</th>
  </tr>

<% @lic_fisica.each do |matricula| %>
  <tr>
    <td><%= retorna_nome_aluno(matricula.aluno_id) %></td>
    <td><%= retorna_ra(matricula.aluno_id) %></td>
    <td><%= retorna_nome_disciplina(matricula.disciplina_id) %></td>
    <td><%= retorna_codigo(matricula.disciplina_id) %></td>
    <td><%= matricula.conceito %></td>
  </tr>
<% end %>
</table>
<% unless @lic_fisica.blank? %>  
    <p><%= link_to "Enviar tabela para o DSSI", :controller => 'conceitos', :action => 'modelo_email', :curso => 'fis', :periodo => @periodo.id%></p>
<% else %>
    <p><%= link_to "Visualizar relatório de conceitos", :controller => 'conceitos', :action => 'relatorio', :curso => 'fis', :periodo => @periodo.id %></p>
<% end %>  
    

    <p><b>Licenciatura em química</b></p>

    <table>
  <tr>
    <th>Nome</th>
    <th>RA</th>
    <th>Disciplina</th>
    <th>Código</th>
    <th>Parecer do estágio</th>
  </tr>

<% @lic_quimica.each do |matricula| %>
  <tr>
    <td><%= retorna_nome_aluno(matricula.aluno_id) %></td>
    <td><%= retorna_ra(matricula.aluno_id) %></td>
    <td><%= retorna_nome_disciplina(matricula.disciplina_id) %></td>
    <td><%= retorna_codigo(matricula.disciplina_id) %></td>
    <td><%= matricula.conceito %></td>
  </tr>
<% end %>
</table>
<% unless @lic_quimica.blank? %>
    <p><%= link_to "Enviar tabela para o DSSI", :controller => 'conceitos', :action => 'modelo_email', :curso => 'qui', :periodo => @periodo.id%></p>
<% else %>
    <p><%= link_to "Visualizar relatório de conceitos", :controller => 'conceitos', :action => 'relatorio', :curso => 'qui', :periodo => @periodo.id %></p>
<% end %>      
    
<% end %>    
