<h1>lançamento de estágio supervisionado do curso</h1> 

<table>
          <tr>
             <th>Nome</th>
             <th>RA</th>
             <th>Disciplina</th>
             <th>Codigo</th>
             <th>Parecer do estagio</th>
             <th>Quadrimestre</th>
          </tr>
          <% @tabulars.each do |tabular| %>
             <tr>
               <td><%= retorna_nome_aluno(tabular.aluno_id) %></td>
               <td><%= retorna_ra(tabular.aluno_id) %></td>
               <td><%= retorna_nome_disciplina(tabular.disciplina_id) %></td>
               <td><%= retorna_codigo(tabular.disciplina_id) %></td>
               <td><%= tabular.conceito %></td>
               <td><%= retorna_periodo_dssi(@periodo) %></td>
             </tr>
          <% end %>
  </table>